# Required

# Generate a long lived access token in Home Assistant and paste it here
HA_TOKEN="your_long_lived_token_here"

# Optional

# The specific Home Assistant dashboard URL to display
HA_URL="http://homeassistant.local:8123/lovelace/0"
# E-ink saturation - tweak to help improve the image quality
DISPLAY_SATURATION=0.5
# How fast the LED blinks when the display is refreshing (seconds)
LED_BLINK_INTERVAL=0.2
# How long to wait before refreshing the display (seconds)
DISPLAY_WAIT_TIME=30

# The following are used for deployment to a Raspberry Pi.
# These should match what you have setup.

# The hostname or IP address of the Raspberry Pi
RPI_HOST="inky"
# The username to use when connecting
RPI_USER="inky"
# Directory where the code will be deployed
REMOTE_DIR="/home/inky/src/inky-dashboard"
